# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.bundle

# Executables
*.exe
*.out
*.app

# Others
out/
build/
.tags
.tags_sorted_by_file
**xcodeproj/
**dSYM/
*.mk
gyp-mac-tool
pomelo.Makefile
deps/uv/uv.Makefile
Makefile
tags
Makefile
*.log
node_modules
*.out
*.in
*.dat
*.cmake
*.Makefile
core
*.pyc
*.class
*~
*.Makefile
CMakeFiles
*.cmake
*.cxx_parameters
CMakeCache.*
Win32
*.user
*.dir
*.sdf
*.suo
Release
*.opensdf
ipch
*~
Debug/*
demo/moc_*
demo/ui_*
*.dat
*.ncb
*.vcproj
Makefile
out
tags
.out
.swp
cscope*
.DS_Store
